@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
.container{
    background-image: url("./images/bg.svg");
    background-size: cover;
    height: 550px;
    width: 850px;
}
.ff-manrope{
    font-family: 'Manrope', sans-serif;
}
.img {
    animation: rotate 6s linear  infinite;
}

@keyframes rotate {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}