@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
.container{
    background-image: url("./images/bg.svg");
    background-size: cover;
    height: 550px;
    -webkit-box-shadow: 0px 3px 21px 4px #000000; 
    box-shadow: 0px 3px 21px 4px #000000;   
}
.fs-custome{
    font-size: 12px;
}
.ff-shiliguri{
    font-family: 'Hind Siliguri', sans-serif;
}
.img {
    animation: rotate 10s linear  infinite;
}

@keyframes rotate {
from { transform: rotate(0deg); }
to { transform: rotate(360deg); }
}
.bg-grad{
    background: linear-gradient(90deg, rgba(81, 147, 150, 0.704) 0%, rgba(25,0,255,0) 100%);
}
.bg-grads{
    background: linear-gradient(90deg, rgba(81, 147, 150, 0.704) 0%, rgba(25,0,255,0) 100%);
}
.pointer{
    cursor: pointer;
}
#main{
    overflow: hidden;
}

.bg-custome{
    background-color: red;
}
.bg-customes{
    background-color: none;
}

/* moblie section */

.bg-svg{
    background-image: url("./images/m-bg.svg");
    background-size: cover;
    height: 759px; 
}